//
//  Config.xcconfig
//  SimpleShoppingMall
//
//  Created by yangyi Li  on 2020/3/27.
//  Copyright © 2020 Thoughtworks. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_PROTO=https
DOUBAN_HOST=douban.uieee.com
